.row
	table
		thead
			tr(style="font-size:35px;")
				th Function
				th Status
		tbody(style="font-size:20px;")
			tr
				th Show Scoreboard
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="scoreboard")
							span.lever
							span(style="font-size:20px;")
								| On
								